body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgb(31, 76, 104), rgb(0, 208, 255)) 
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img{
    width: 550px;
    height: 650px;
    border-radius: 30px 0px 0px 30px;
}

button{
    position: relative;
    top: -60px;
    padding: 14px;
    min-width: 120px;
    border: none;
    background-color:rgb(85, 112, 132);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    box-shadow: rgba(18, 17, 17, 0.56) 0px 22px 70px 4px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1000px;
    height: 650px;
    border-radius: 32px ;
}

/* .container1{
    width: 500px;
    height: 600px;
    background-color: #ffff;
    border-radius: 40px 0px 0px 40px;
} */

.container2{
    display: grid;
    place-items: center;
    margin: 35px;
    width: 400px;
    height: 600px;
    background-color: #fff;
}

h1{
    position: relative;
    top: -60px;
    font-size: 34px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    outline: none;
    background-color: #60686a;
 }
 
 select::-ms-expand {
     display: none;
 }
 
 .select{
     position: relative;
     top: -100px;
     display: flex;
     width: 20em;
     height: 3em;
     line-height: 3;
     background-color: #5e7873;
     overflow: hidden;
     border-radius: .25em;
 }

 select{
     flex: 1;
     padding: 0 .5em;
     color: #fff;
     cursor: pointer;
 }
 
 .select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     color: #fff;
     background: #000;
     cursor: pointer;
     transition: .25s all ease;
 }
 
 .select:hover::after{
     color: #0099ff
 }
 
@media (max-width: 1040px) {
   .container{
    margin: 20px;
   }
}

@media (max-width:1024px) {
    .container{
        width: 70%;
        height: 1000px;


    }
    img{
        display: none;
    }
}

